<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.url != '/' %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <link rel="stylesheet" href="{{ '/assets/css/simple.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favico/favicon-16x16.png">
    <link rel="manifest" href="/assets/favico/site.webmanifest">

  </head>
  <body>

    <header>
      {% include navigation.html %}
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </header>

    <main>

      {{ content }}

    </main>

    <footer>
      <p>Made with ❤️ by <a href="\about"> Nimesh Chahare </a> <br> Last-updated: Sept 29, 2024 </p>   
      <img src="/assets/img/chick.png" title="Nimesh doesn't respect/trust authority. Question everything!">
      <img src="/assets/img/nowar.jpg" title="Nimesh opposes war & prefers his taxes fund social welfare over military">
      <img src="/assets/img/megit.png" title="Nimesh says Good day!">
      <img src="/assets/img/labor.png" title="Nimesh supports Labor rights. Join the Union! If you don't have one, UNIONIZE!">
      <img src="/assets/img/jaibhim.png" title="Nimesh says Jai Bhim! Annihilate caste!">
      <img src="/assets/img/nocookie.gif" title="Nimesh doesn't like cookies">
    </footer>

  </body>
</html>